<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Genres</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Jersey+15&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23feb47b%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2290%22>🕹️</text></svg>" />
    <link rel="stylesheet" href="/css/genres.css">
</head>
<body>
    <div id="particles-js"></div> 
    <div id="genre-section">
        <h1 class="header">Choose A Genre!</h1>
        <div class="genre-container">
      
          <% for (genre of genres){ %>
            <a href="/genres/<%= genre.id %>">
              <div class="genre-content-wrapper">
                <div class="card-inner">
                  <div class="card-front">
                    <p><%= genre.name %></p>
                  </div>
                  <div class="card-back">
                    <h3><%= genre.name %> Genre</h3>
                    
                    <% 
                      // Normalize genre.name to match the keys in genreDetails
                      let normalizedName = genre.name
                        .toLowerCase()  // Convert to lowercase for consistent matching
                        .replace(/[\s\-()&/']+/g, '') // Remove spaces, hyphens, and parentheses
                    %>
      
                    <% if(genreDetails[normalizedName]){ %>
                      <p><%= genreDetails[normalizedName].description %></p>
                      <p><strong>Example Games:</strong> <%= genreDetails[normalizedName].exampleGames %></p>
                    <% } else { %>
                      <p>No data found for this genre.</p>
                    <% } %>
                  </div>
                </div>
              </div>
            </a>
          <% } %>
        </div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
    particlesJS.load('particles-js', '/particles.json');
</script>

</body>
</html>